{% extends 'base.html.twig' %}

{% block title %}Liste de vos disscusions{% endblock %}

{% block body %}

<div class="container center mt-5">
    <h1 class="text-center">Liste de vos disscusions</h1>
    {{ include('components/messages-list.html.twig') }}
</div>


{% endblock %}
