<div class="container mx-auto">
	<div class="boxes pt-3">
		<div class="box-left-shadow"></div>
		<div class="box-right-shadow"></div>
		<ul class="box-items left pb-3 mb-0">
			<li class="box-item bg-light">
				<div class="box-item-number">50</div>
				<div class="box-item-title">
					graphiste spécialisés en miniatures
					<img src="https://api.iconify.design/logos:youtube.svg?color=%23000000" alt="YouTube" width="100">
				</div>
			</li>
			<li class="box-item bg-light">
				<div class="box-item-number">39</div>
				<div class="box-item-title">
					monteurs spécialisés en vidéos
					<img src="https://api.iconify.design/logos:tiktok.svg?color=%23000000" alt="YouTube" width="100">
				</div>
			</li>
			<li class="box-item bg-light">
				<div class="box-item-number">43</div>
				<div class="box-item-title">
					monteurs spécialisés en reels
					<img src="https://api.iconify.design/logos:instagram.svg?color=%23000000" alt="YouTube" width="100">
				</div>
			</li>
			<li class="box-item bg-light">
				<div class="box-item-number">29</div>
				<div class="box-item-title">
					monteurs spécialisés en vidéos
					<img src="https://api.iconify.design/logos:youtube.svg?color=%23000000" alt="YouTube" width="100">
				</div>
			</li>
		</ul>
	</div>
	<div class="boxes">
		<div class="box-left-shadow"></div>
		<div class="box-right-shadow"></div>
		<ul class="box-items right pb-3 mb-0">
			<li class="box-item bg-light">
				<div class="box-item-number">50</div>
				<div class="box-item-title">
					graphiste spécialisés en miniatures
					<img src="https://api.iconify.design/logos:youtube.svg?color=%23000000" alt="YouTube" width="100">
				</div>
			</li>
			<li class="box-item bg-light">
				<div class="box-item-number">39</div>
				<div class="box-item-title">
					monteurs spécialisés en vidéos
					<img src="https://api.iconify.design/logos:tiktok.svg?color=%23000000" alt="YouTube" width="100">
				</div>
			</li>
			<li class="box-item bg-light">
				<div class="box-item-number">43</div>
				<div class="box-item-title">
					monteurs spécialisés en reels
					<img src="https://api.iconify.design/logos:instagram.svg?color=%23000000" alt="YouTube" width="100">
				</div>
			</li>
			<li class="box-item bg-light">
				<div class="box-item-number">29</div>
				<div class="box-item-title">
					monteurs spécialisés en vidéos
					<img src="https://api.iconify.design/logos:youtube.svg?color=%23000000" alt="YouTube" width="100">
				</div>
			</li>
		</ul>
	</div>
</div>
